.list-group {

    max-height: 246px;
    overflow-y: auto;

    margin-bottom: 25px;

    &-item {
        transition: all .3s linear;
        cursor: pointer;
        
        &:hover {
            background-color: #c3c3c3;
        }
    }
}

.wrapper-buttons {
    width: 100%;
    margin: auto;
}