<div class="wrapper-card-pokemon shadow rounded" *ngIf="this.pokemon != '';">
	<div class="wrapper-img">
		<img class="shadow-lg rounded" [src]="pokemon.sprite" alt="icon-{{pokemon.name}}">
	</div>
	<hr>
	<div class="wrapper-text" (click)="sendId()">
		<h5 class="text-center"><strong>{{pokemon.name | uppercase}}</strong></h5>
		<p><strong>Id: </strong>{{pokemon.id}}</p>
		<p><strong>Weight: </strong>{{pokemon.weight/10}} kg</p>
		<p><strong>Height: </strong>{{pokemon.height/10}} m</p>
		<p><strong>Base experience: </strong>{{pokemon.base_exp}}</p>
		<p><strong>Type: </strong>{{pokemon.types}}</p>
		<p><strong>Abilitie(s): </strong>{{pokemon.abilities}}</p>
		<hr>
		<p class="text-center"><strong>Status</strong></p>
		<p *ngFor="let item of pokemon.stats"><b>{{item.stat | titlecase }}:</b> {{item.num}}</p>
	</div>
	<div class="w-100 text-right">
		<button class="btn btn-primary" (click)="addFavorite(pokemon)">Add Favorite</button>
	</div>
</div>
<hr *ngIf="this.pokemon != '';">